body {
    margin: 0px;
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    background-color: #313131;
    color: white;
}

nav {
    padding: 10px;
    background-color: #171717;
}

nav ul {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    width: 50%;
    padding: 0px;
    margin: 0px;
}

nav li {
    text-align: center;
    display: inline;
    width: 33%;
    padding: 10px 0px;
    transition: all 200ms ease-in-out 0s;
}

nav li:hover {
    background-color: #242424;
}

section,
main {
    margin: 10px;
    padding: 10px;
    background-color: #262626;
    border-radius: 15px;
}

a {
    text-decoration: none;
    color: white;
}

.help {
    cursor: help;
    color: #9cd5f0;
    transition: all 100ms ease-in-out 0s;
}

.help:hover {
    color: #5098e4;
    text-decoration: underline;
}

input {
    background-color: #383838;
    color: white;
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    border: 2px #919191 solid;
    box-shadow: inset black 0px 0px 5px;
    text-align: center;
    height: 20px;
    border-radius: 5px;
}

/* Home section */

#home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    padding: 30px 0px;
    text-align: center;
    background-color: #181818;
    border: 5px #ebe880 solid;
    height: 70vh;
}

#home h1 {
    margin: 5px 0px;
    font-size: 30px;
}

#home h2 {
    margin: 0px;
    font-size: 26px;
}

#home h3 {
    margin: 20px 0px 0px 0px;
    font-size: 29px;
}

#home p {
    margin: 5px 0px;
    font-size: 26px;
}

/* Generator section */

#numericSystemCreator {
    text-align: center;
}

#generator h2 {
    padding-left: 30px;
}

#numericSystemCreator h4 {
    padding-top: 15px;
}

#gen-digits {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
    align-items: center;
}

#gen-digits div {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    padding: 10px 10px;
}

#gen-digits div>* {
    margin: 10px;
}

.label-digit {
    width: 90px;
}

.btn-delete-digit {
    font-size: 12px;
    color: white;
    background-color: #a02e2e;
    border: none;
    border-radius: 10px;
    box-shadow: #0000006c 3px 3px 3px;
    padding: 10px 20px;
    transition: all 100ms ease-in-out 0s;
}

.btn-delete-digit:hover {
    box-shadow: inset #000000a8 3px 3px 3px;
    background-color: #892828;
}

.btn-delete-digit:active {
    box-shadow: inset #000000b5 3px 3px 3px;
    background-color: #631919;
}

#btn-generate-system {
    color: white;
    background-color: #225b2e;
    border: none;
    border-radius: 10px;
    box-shadow: #0000006c 3px 3px 3px;
    margin: 30px 0px;
    padding: 10px 40px;
    transition: all 100ms ease-in-out 0s;
}

#btn-generate-system:hover {
    box-shadow: inset #000000a8 3px 3px 3px;
    background-color: #194c24;
}

#btn-generate-system:active {
    box-shadow: inset #000000b5 3px 3px 3px;
    background-color: #133a1c;
}

/* Calculator section */

#calculator {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;
    align-items: flex-start;
    text-align: center;
}

#calculator h2 {
    text-align: left;
    padding-left: 30px;
    width: 100%;
}

#calculator h4 {
    padding-top: 15px;
    font-size: 18px;
    width: 100%;
}

#calculator h5 {
    font-size: 16px;
}

#calculator div {
    width: 40%;
}

#cal-dec-to-sys,
#cal-sys-to-dec {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
}

#converted-decimal,
#converted-system {
    word-wrap: break-word;
}

div#nav-calculator {
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

div#nav-calculator button {
    width: 50px;
    height: 50px;
    padding: 10px;
    border-radius: 100%;
    border: none;
    background-color: #4f4f4f;
    box-shadow: #0000006c 3px 3px 3px;
    transition: all 100ms ease-in-out 0s;
}

div#nav-calculator button:hover {
    box-shadow: inset #000000a8 3px 3px 3px;
    background-color: #3e3e3e;
}

div#nav-calculator button:active {
    box-shadow: inset #000000b5 3px 3px 3px;
    background-color: #363636;
}

div#nav-calculator button img {
    position: relative;
    bottom: 10px;
    right: 10px;
    padding: 10px;
    width: 30px;
    filter: invert(1);
    transition: all 100ms ease-in-out 0s;
}

div#nav-calculator button img:hover {
    bottom: 7px;
    filter: invert(0.8);
}

div#nav-calculator button img:active {
    bottom: 5px;
    filter: invert(0.7);
}


/* Media queries */

@media only screen and (orientation: portrait) {
    nav ul {
        width: 100%;
    }

    #home h1 {
        margin: 5px 0px;
        font-size: 20px;
    }

    #home h2 {
        margin: 0px;
        font-size: 16px;
    }

    #home h3 {
        margin: 20px 0px 0px 0px;
        font-size: 19px;
    }

    #home p {
        margin: 5px 0px;
        font-size: 16px;
    }

    #gen-digits {
        flex-direction: column;
        flex-wrap: wrap;
    }

    #gen-digits div {
        flex-direction: row;
        padding: 0px;
    }

    #calculator div {
        width: 90%;
    }
}